
*{
  text-align: center;
}

*{
  background: green;
}

*{
  color: orange;
}

  
ol{
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}


h1{
color: pink;
}

h2{
color: purple;
}

.abc {
  color: blue;
}

#main {
  font-size: 50px;
}

#pic2 {
  height: 500px;
  widht: auto;
}
  
