
*{
  text-align: center;
}

*{
  background: #E8FFCE;
}

*{
  color: #94ADD7;
}

  
ol{
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}


h1{
color: pink;
}

h2{
color: purple;
}

.abc {
  color: blue;
}

#main {
  font-size: 50px;
}

#pic2 {
  height: 600px;
  widht: auto;
}
  
