
*{
  text-align: center;
}

*{
  background: green;
}

*{
  color: orange;
}

  l
* {
       display: inline-block;
       margin-left: auto;
       margin-right: auto;
    }
h1{
color: pink;
}

.abc {
  color: blue;
}
