#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}


#green {
    color: green;
}

#yellow {
    color: yellow;
}

.color-title {
    font-weight: normal;
}

#pic2 {

    width: 400px;
    height: 400px;
}
